@model TransporteV3.Entidades.Neumatico

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid px-4">

    <div class="card-header">
        <h2 class="mt-4">Eliminar neumatico</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a class="nav-link btn btn-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Eliminar neumatico</li>
        </ol>
    </div>
    <div class="card mb-4">


        <div class="card-body">
            <h3>¿Estás seguro que quieres eliminar esto?</h3>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Marca)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Rodado)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Rodado)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Modelo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Modelo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Kilometraje)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Kilometraje)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdTipoMarcaNeumaticosNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdTipoMarcaNeumaticosNavigation.TipoMarcaNeumatico)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdNeumatico" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-light">Cancelar</a>
            </form>
        </div>
    </div>
</div>
