@model IEnumerable<TransporteV3.Entidades.Neumatico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rodado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometraje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoMarcaNeumaticosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rodado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometraje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoMarcaNeumaticosNavigation.IdTipoMarcaNeumaticos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNeumatico">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNeumatico">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNeumatico">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
