@model TransporteV3.Entidades.LicenciasUnidad

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid px-4">

    <div class="card-header">
        <h2 class="mt-4">Eliminar licencia de unidad</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a class="nav-link btn btn-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Eliminar licencia de unidad</li>
        </ol>
    </div>
    <div class="card mb-4">


        <div class="card-body">
            <h3>¿Estás seguro que quieres eliminar esto?</h3>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdUnidadNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdUnidadNavigation.Modelo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdTiposDocumentosNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdTiposDocumentosNavigation.TipoDocumento)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaVencimiento)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaVencimiento)
                </dd>
                
                
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdLicenciaUnidades" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-light">Cancelar</a>
            </form>
        </div>
    </div>
</div>