@model IEnumerable<TransporteV3.Entidades.LicenciasUnidad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTiposDocumentosNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUnidadNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTiposDocumentosNavigation.IdTiposDocumentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUnidadNavigation.IdUnidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLicenciaUnidades">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLicenciaUnidades">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLicenciaUnidades">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
