@model TransporteV3.Entidades.Compra

@{
    ViewData["Title"] = "Delete";
}


<div class="container-fluid px-4">

    <div class="card-header">
        <h2 class="mt-4">Eliminar Compra</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a class="nav-link btn btn-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Eliminar Compra</li>
        </ol>
    </div>
    <div class="card mb-4">


        <div class="card-body">
            <h3>¿Estás seguro que quieres eliminar esto?</h3>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Detalle)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Detalle)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaCompra)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaCompra)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdFormaPagoNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdFormaPagoNavigation.FormaPago)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="IdCompra" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-light">Cancelar</a>
            </form>
        </div>
    </div>
</div>
