@model IEnumerable<TransporteV3.Entidades.Compra>
@using TransporteV3.Servicios;

@{
    ViewData["Title"] = "Home Page";
}
@if (User.IsInRole(Constantes.RolAdmin) || User.IsInRole(Constantes.RolStandar))
{
    <div class="container-fluid px-4">

        <div class="card-header">
            <h4 class="mt-4">Reportes Compras</h4>
            
        </div>


        <!-- Content Row -->
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Total de compras:  @ViewBag.TotalCompras</div>
                                <div class="breadcrumb-item"><a asp-controller="Compras" asp-action="Index">Más detalles</a></div>
                            </div>
                            <div class="col-auto">
                                <i class="bi bi-cart4 fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="dropdown show float-right">
                    <h5>
                        Administrar Reportes
                    </h5>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Seleccione un Reporte
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Choferes" asp-action="ReportChoferes">Reportes Choferes</a></li>
                        <li><a class="dropdown-item" asp-controller="Unidades" asp-action="ReportUnidades">Reportes Unidades</a></li>
                        <li><a class="dropdown-item" asp-controller="Compras" asp-action="ReportCompras">Reportes Compras</a></li>
                    </ul>
                </div>
            </div>

        </div>

        
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form asp-action="Exportar_excel" class="row g-3 needs-validation" novalidate asp-controller="Compras" method="post">
                            <h5>Seleccione un rango de fecha</h5>
                            <div class="row aling-items-end">
                                <div class="col-12 col-sm-4 mb-2">
                                    <label class="form-label">Fecha Inicio</label>
                                    <input class="form-control" name="fechainicio" type="text" placeholder="" required />
                                    <p class="text-danger">Por favor ingrese de esta manera: dd/mm/aaaa</p>
                                    <span class="valid-feedback">Datos correctos!</span>
                                    <span class="invalid-feedback">Ingrese una fecha de inicio</span>
                                </div>
                                <div class="col-12 col-sm-4 mb-3 ">
                                    <label class="form-label">Fecha Final</label>
                                    <input class="form-control" name="fechafin" type="text" placeholder="" required />
                                    <p class="text-danger">Por favor ingrese de esta manera: dd/mm/aaaa</p>
                                    <span class="valid-feedback">Datos correctos!</span>
                                    <span class="invalid-feedback">Ingrese una fecha final</span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Exportar a Excel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card mb-2">
            <div class="card-body">

                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Cantidad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detalle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaCompra)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IdFormaPagoNavigation)
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaCompra)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdFormaPagoNavigation.FormaPago)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}
else
{

    <div class="container-fluid px-4">
        <div class="card-header">
            <h2 class="mt-4">Advertencia</h2>
            <ol class="breadcrumb mb-4"></ol>
        </div>


        <p>No tiene permiso para ver el contenido. Póngase en contacto con su administrador para obtener los permisos necesarios.</p>

        <img style="height: 300px; width:500px" src="https://kdosd.com/wp-content/uploads/2022/02/Como-evitar-que-el-Error-404-afecte-a-tu-SEO-1024x643.jpeg" />
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}