@using TransporteV3.Servicios;
@model IEnumerable<TransporteV3.Entidades.Chofere>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid px-4">

    <div class="card-header">
        <h2 class="mt-4">Administrar Choferes</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a class="nav-link btn btn-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
            <li class="breadcrumb-item active">Administrar Choferes</li>
        </ol>
    </div>
    <div class="card mb-4">


        <div class="card-body">
            <p>
                <a asp-action="Create" class="btn btn-primary rounded-pill px-3">Crear Chofer</a>
            </p>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Apellido)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaNacimiento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdTdocuCNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ndocumento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NuTramite)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cuil)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdProvinciaNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Direccion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Celular)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaAlta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaBaja)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
                        </th>


                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaNacimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTdocuCNavigation.Detalle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ndocumento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NuTramite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cuil)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.Provincia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Celular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaAlta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaBaja)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Estado1)
                            </td>


                            <td>
                                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.IdChofer"><i class="bi bi-journal-text"></i></a>
                                @*@if (User.IsInRole(Constantes.RolAdmin))
                                {
                                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdChofer"><i class="bi bi-trash3"></i></a>
                                }*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
