@model IEnumerable<TransporteV3.Entidades.TipoMarcasNeumatico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoMarcaNeumatico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMarcaNeumatico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTipoMarcaNeumaticos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTipoMarcaNeumaticos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTipoMarcaNeumaticos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
